.card{
    text-align: center;
}

.header{
    width: 450px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (max-width: 600px) {
    .header{
        width: 100%;
        padding: 0;
        margin: 0;
    } 

}