<section>
  <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field class="imput">
      <input
        type="email"
        matInput
        placeholder="Your Email*"
        ngModel
        name="email"
        email
        required
      />
    </mat-form-field>

    <mat-form-field class="imput">
      <input
        type="password"
        matInput
        placeholder="Password*"
        ngModel
        name="password"
        required
        minlength="6"
        #pwImput="ngModel"
      />
      <mat-hint
        >Should be at least 6 characters long.
        {{ pwImput.value?.length }}/6</mat-hint
      >
    </mat-form-field>

    <p-calendar
      [(ngModel)]="date"
      [showIcon]="true"
      placeholder="Your Birthday"
      matInput
      dateFormat="dd/mm/yy"
      ngModel
      name="date"
    ></p-calendar>

    <p-button type="submit" label="Invia"></p-button>
  </form>
</section>
