<div class="welcome">
    <section> 
        <h1>Activity</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, consectetur repellendus, porro magni voluptate eum veritatis ea ipsum tempore vero atque fugiat facilis aliquid quidem fugit expedita, distinctio hic minima?</p>
    </section>
    <section> 
        <h1>Community</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, consectetur repellendus, porro magni voluptate eum veritatis ea ipsum tempore vero atque fugiat facilis aliquid quidem fugit expedita, distinctio hic minima?</p>
    </section>
    <section> 
        <h1>Challenge</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, consectetur repellendus, porro magni voluptate eum veritatis ea ipsum tempore vero atque fugiat facilis aliquid quidem fugit expedita, distinctio hic minima?</p>
    </section>
</div>